html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}
.hidden {
    display:none;
}
.not_found {
    padding-top:200px;
    text-align:center;
}
.delete_bg {
    width: 32px;
    height: 32px;
    background: url(images/delete.svg) 0 0 no-repeat;
    background-size: 32px 32px;
    border:0px;
    cursor: pointer;
}
header {
    width: 100%;
    height: 70px;
    border: 1px solid #EEE;
}
.logo {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 20px 0 0 20px;
    float: left;
    cursor: pointer;
}
aside {
    float: right;
    padding: 20px 55px;
    position:relative;
}
.start_search {
    background-color: #EDEDED;
    color: #868686;
    padding: 6px;
    width: 100px;
    float:left;
    text-align:left;
    border:0px;
    cursor: text;
}
.add {
    width: 32px;
    height: 32px;
    cursor:pointer;
    margin-left: 10px;
    background: url(images/upload.svg) 0 0 no-repeat;
    background-size: 32px 32px;
    border:0px;
    position:absolute;
    right: 10px;
}
section {
    position:relative;
    text-align:center;
}
.search {
    width: 50%;
    height: 30px;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid #CCC;
    text-align: center;
    font-size: 18px;
}
.clear_search {
    position:absolute;
    top: 3px;
    right: calc(50% - 300px);
}
main {
    width: 100%;
}
.list_container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 25px;
    margin-bottom: 25px;
}
.card {
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid #DDD;
    border-radius: 3px;
    height: 265px;
    position:relative;
    pointer-events: none;
}
.card:hover {
    border: 1px solid #AAA;
}
.card .thumb_container {
    width: 225px;
    background-color: #FFF;
    height: 165px;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}
.card .thumb_container .thumb {
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}
.card .file_name {
    height: 60px;
    width: 205px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}
.card .delete_bg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    pointer-events: auto;
}

.view, .edit {
    padding: 50px 90px 0 50px;
    display: flex;
}
.view .thumbs, .edit .files {
    min-width: 580px;
    position:relative;
}
.thumbs .thumb_container {
    background-color: #FFF;
    border: 1px solid #DDD;
    height: 430px;
}
.thumbs .thumb_container .thumb {
    width: 60%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 18%;
}
.thumbs .thumbs_container {
    border: 1px solid;
}
.thumbs .thumbnails {
    width: 580px;
    display: flex;
    overflow: hidden;
    margin-top: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    position:relative;
}
.thumbnails::-webkit-scrollbar {
    display: none;
}
.thumbnails .thumbnail {
    min-width: 150px;
    height: 115px;
    border:1px solid #FFF;
    margin-right: 15px;
    cursor: pointer;
    position:relative;
}
.thumbnails .thumbnail:hover {
    border:1px solid #9D9D9D;
}
.thumbnail .mini_thumb {
    width: 90%;
    height:90%;
    position: absolute;
    left: 5%;
    top: 5%;
}
.thumbnails .selected {
    cursor: default;
    border:1px solid #9D9D9D;
}
.scroll_left:hover, .scroll_right:hover {
    opacity: 0.6;
}
.scroll_left, .scroll_right {
    position:absolute;
    top: 435px;
    background-color: #FFF;
    border-radius: 3px;
    font-size: 30px;
    color: #696969;
    cursor: pointer;
    opacity: 0.5;
    height: 125px;
    width: 37px;
    text-align: center;
    line-height: 130px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.scroll_disabled {
    display:none;
}
.scroll_right {
    right: 0px;
}
.view .info, .edit .info {
    float: right;
    padding-left: 80px;
    width: 100%;
    position:relative;
}
.info .file_name {
    width: 100%;
    height: 60px;
    font-size: 22px;
    overflow: hidden;
    font-weight: bold;
    padding-right: 30px;
    padding: 7px;
    border: 1px solid #FFF;
}
.info .file_info {
    width: 100%;
    white-space: pre-line;
    font-size: 18px;
    border: 1px solid #FFF;
    margin-top: 20px;
}
.edit .file_info {
    height: 320px;
}
.view .file_info {
    min-height: 343px;
}
.actions {
    padding-top: 20px;
    text-align: center;
}
.actions .download_btn, .actions .save_btn, .actions .add_files_btn {
    text-decoration-line: none;
    color: #000;
    padding: 5px 40px 5px 40px;
    cursor: pointer;
    font-size: 20px;
    background-color: #EFEFEF;
    border: 1px solid #767676;
}
.info .edit_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(images/edit.svg) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-size: 26px 26px;
    border:0px;
}
.edit .file_name, .edit .file_info {
    padding: 7px;
    border: 1px solid #CCC;
    outline: 0px;
    font-family: sans-serif;
}

.file {
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    position:relative;
}
.file .mini_thumb {
    width: 100px;
    height: 76px;
    
}
.file .file_name {
    border:0px;
    width: 100%;
    height: 20px;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.file .file_size {
    position: absolute;
    font-size: 14px;
    color: #909090;
    left: 120px;
    top: 45px;
}
.file .delete_bg {
    position:relative;
    right: 15px;
}