html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}
.delete_bg {
    width: 32px;
    height: 32px;
    background: url(images/delete.svg) 0 0 no-repeat;
    background-size: 32px 32px;
    border:0px;
    cursor: pointer;
}
header {
    width: 100%;
    height: 70px;
    border: 1px solid #EEE;
}
.logo {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 20px 0 0 20px;
    float: left;
}
aside {
    float: right;
    padding: 20px 25px;
}
.start_search {
    background-color: #EDEDED;
    color: #868686;
    padding: 6px;
    width: 100px;
    float:left;
    text-align:left;
    border:0px;
    cursor: text;
}
.add {
    width: 32px;
    height: 32px;
    cursor:pointer;
    margin-left: 10px;
    background: url(images/upload.svg) 0 0 no-repeat;
    background-size: 32px 32px;
    border:0px;
    float:right;
}
section {
    text-align:center;
}
.search {
    width: 50%;
    height: 30px;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid #CCC;
    text-align: center;
    font-size: 18px;
}
.clear_search {
    position:relative;
    top: 10px;
}
main {
    width: 100%;
}
.list_container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 25px;
    margin-bottom: 25px;
}
.card {
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid #DDD;
    border-radius: 3px;
    height: 265px;
    position:relative;
    pointer-events: none;
}
.card:hover {
    border: 1px solid #AAA;
}
.thumb {
    width: 225px;
    background-color: #CCC;
    height: 165px;
    cursor: pointer;
    pointer-events: auto;
}
.file_name {
    height: 60px;
    width: 205px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}
.card .delete_bg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    pointer-events: auto;
}