<div id="main" class="view">
    <div class="thumbs">
        <div
            class="thumb_container">
            <img class="thumb" id="thumb" src="/thumb/{{folder_name}}" />
        </div>
        <div id="thumbnails" class="thumbnails">
            {% for file in files %}
                <div 
                    class="thumbnail {% if file.id==1 %}selected{% endif %}"
                    onclick="selectThumb(this, 'thumb', '/thumb/{{file.name}}/{{folder_name}}')"
                    >
                    <img class="mini_thumb" src="/thumb/{{file.name}}/{{folder_name}}" />
                </div>
            {% endfor %}
        </div>
        <div
            id="scroll_left"
            onclick="scrollObj('thumbnails','scroll_left', 'scroll_right', -167)"
            title="Scroll left"
            class="scroll_left scroll_disabled">
            <
        </div>
        <div
            id="scroll_right"
            onclick="scrollObj('thumbnails', 'scroll_left', 'scroll_right',167)"
            title="Scroll right"
            class="scroll_right">
            >
        </div>
    </div>
    <div class="info">
        <div class="file_name">
            Edit:{{folder_name}}
        </div>
        <div class="file_info">
            {{folder_info}}
        </div>
        <div class="actions">
            <button 
                class="save_btn"
                title="Save changes"
                hx-target="body"
                hx-delete="/nowhere/{{folder_name}}">
                Save Changes
            </button>
        </div>
    </div>
</div>