<div class="edit">
    <div class="files">
        {% for file in files %}
            <div hx-trigger="load" hx-get="{{file.url}}"></div>
        {% endfor %}
        <div id="new_files"></div>
        <div class="actions">
            <button
                class="add_files_btn"
                title="Add files"
                onclick="document.getElementById('file_upload').click()">
                {% if folder_name != '' %}
                    Add files
                {% else %}
                    Select files
                {% endif %}
            </button>
        </div>
    </div>
    <div class="info">
        {% if folder_name != '' %}
        <form
            hx-encoding='multipart/form-data'
            hx-post='/upload/{{folder_name}}'>
        {% else %}
        <form
            hx-encoding='multipart/form-data'
            hx-post='/upload'>
        {% endif %}
            <input name="file_upload" onchange="addFiles(event, '{{folder_name}}')" class="file_upload hidden" id="file_upload" type='file' multiple accept=".stl,.png,.jpg,.svg">
            <input
                placeholder="Title"
                minlength="5"
                id="title"
                maxlength="128"
                type="text"
                class="file_name"
                value="{{folder_name}}" 
                autofocus
                required
                name="title"/>
            <textarea 
            rows="10"
            cols="150"
            placeholder="Description"
            maxlength="1000"
            class="file_info"
            name="info">{{folder_info}}</textarea>
            <input id="newfiles2add" type="hidden" name="newfiles2add" value="" />
            <input id="files2remove" type="hidden" name="files2remove" value="{{file_names}}" />
            <div class="actions">
                <button 
                    onclick="return prepareUpload(event)"
                    class="save_btn"
                    title="Save changes">
                    Save
                </button>
            </div>
    </form>
    </div>
</div>