<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STL Manager</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/htmx.min.js"></script>
    <script src="../static/utils.js"></script>
</head>
<body>
    <header>
        <div
            hx-get="/"
            hx-push-url="true"
            hx-target="body"
            class="logo">
            STL Manager
        </div>
        <aside>
            <div
                hx-get="/listitems"
                hx-target="#main">
                <div
                    hx-get="/search"
                    hx-target="#search">
                    <button
                        class="start_search"    
                        hx-get="/"
                        hx-push-url="true">
                        Search
                    </button>
                </div>
            </div>
            <div
                hx-get="/additem" 
                hx-target="#main">
                    <button class="add" hx-get="/add" hx-push-url="true" title="Add Media"></button>
            </div>
        </aside>
    </header>
    <section id="search">
    </section>
    {% if folder_name!= None %}
        {% if editing %}
            <main hx-get="/edititem/{{folder_name}}" id="main" hx-trigger="load">
        {% else %}
            <main hx-get="/view/{{folder_name}}" id="main" hx-trigger="load">
        {% endif %}
    {% elif adding %}
        <main hx-get="/additem" id="main" hx-trigger="load">
    {% else %}
        <main hx-get="/listitems" id="main" hx-trigger="load">
    {% endif %}
        <img class="loading" src="../static/images/loading.svg">
    </main>
</body>
</html>