<div class="list_container">
    {% for file in files %}
        <div id="card{{file.id}}" class="card">
            <div class="thumb_container">
                <img class="thumb" src="/thumb/{{file.name}}" />
            </div>
            <div class="file_name">
                {{file.name}}
            </div>
            <button 
                class="delete_bg"
                title="Delete"
                hx-target="#card{{file.id}}"
                hx-swap="outerHTML"
                hx-delete="/delete/{{file.name}}"
                hx-confirm="Are you sure?">
            </button>
        </div>
    {% endfor %}
</div>