<input
    placeholder="Search"
    type="text"
    class="search"
    value="" 
    autofocus 
    name="search"
    hx-post="/listitems"
    hx-trigger="input changed delay:500ms, search" 
    hx-target="#main" 
    hx-indicator=".htmx-indicator"/>
<div hx-get="/empty" hx-target="#search">
    <div class="clear_search">
        <button
            title="Clear Search"
            hx-get="/"
            hx-push-url="true"
            hx-target="body"
            class="delete_bg">
        </button>
    </div>
</div>